*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

$black: #333;
$white: #fff;
$blue: rgb(5, 91, 204);
$height-menu: 100px;
$height-banner: 60vh;

header{
    #menu{
        height: $height-menu;
        background: #ddd;
    }
    
    #banner{
        position: relative;
        height: $height-banner;
        background: url(img/banner.jpg)center/cover no-repeat;
        &:before{
            content: "";
            display: block;
            position: relative;
            height: 100%;
            width: 100%;
            background: rgba(0, 0, 0, 0.219);
        }
        #banner-title{
            display: inline-block;
            position: absolute;
            border-radius: 10px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            text-align: center;
            h1{
                font-size: 2.5rem;
            }
            p{
                font-size: 1.2rem;
                display: none;
                padding: 15px 0;
            }
            a{
                display: inline-block;
                text-transform: uppercase;
                margin-top: 20px;
                padding: 8px 18px;
                font-weight: bold;
                text-decoration: none;
                color: $white;
                background: $blue;
                border-radius: 5px;
                
            }
        }
    }
}

main{
    height: calc(100vh - #{$height-banner} - #{$height-menu});
    background: #ddd;
}

//Bigger screens only
@media only screen and(min-width: 750px){
    header{
        #banner{
            #banner-title{
                p{
                    display: block;
                }
                a{
                    margin-top: 3px;
                }
            }
        }
    }
}